<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ravi">
	<test name="Report1">
		<classes>
			<class name="sep7.SecondTestNGclass" />
		</classes>
	</test> <!-- Report -->
	<test name="Report2" parallel="methods">
		<classes>
			<class name="sep7.ThirdTestNGclass" />
		</classes>
	</test> <!-- Report -->
</suite> <!-- Ravi -->
